layout python3

export SNAPCRAFT_BUILD_ENVIRONMENT=multipass

PATH_add ./rocket_craft

if ! test -f .venv_initialized; then pip3 install -r rocket_craft/requirements.txt && touch .venv_initialized; fi

_ROCKETCRAFT_COMPLETE=bash_source rocketcraft > ._rocketcraft_completion.bash

_ROCKETCRAFT_COMPLETE=zsh_source rocketcraft > ._rocketcraft_completion.zsh

