*.snap
tar/
stage/
prime/
Dockerfile
.dockerignore
mount/
*.assert
*.xdelta3*
.idea/

**/__pycache__/**
.direnv/

**/work/**

snap_fs/

*.assert
*.snap
tests/

._rocketcraft_completion.bash
._rocketcraft_completion.zsh
